@media screen and (max-width: 1415px) {
  .header {
    width: 100%;
    position: static;
  }
}
@media screen and (max-width: 680px) {
  body {
    overflow: auto;
    transition: transform 0.8s ease;
  }
  .main_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* .btnBlockAdd {
    margin: 150px 40px;
  } */
  .main .main_content {
    margin: 30px auto;
  }
  .header .header_title {
    font-size: 28px;
  }
}
@media screen and (max-width: 375px) {
  .header {
    height: 75px;
  }
  .header .header_title {
    font-size: 28px;
  }
  .main .main_content {
    max-width: 250px;
  }
}
