@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: black;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}